/* ABOUT SECTION */

.about {
  height: 100vh;
  width: 100vw;
  background-image: url('../static/backgrounds/group202.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.about-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.about-wrapper-l {
  width: 45%;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.about-wrapper-r {
  width: 55%;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.about-wrapper-l img {
  height: 360px;
  width: 480px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.about-content .h1 {
  color: var(--primary-blue);
  padding: 16px 0;
}

.about-content .h5 {
  font-size: 32px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -5%;
  color: var(--charcoal-gray);
  height: 48px;
}

.about-content .p1 {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--black);
  line-height: 32px;
  padding: 8px 0;
}

/* BUSINESS SECTION */

.business {
    height: 100%;
    width: 100vw;
}

.business-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--primary-purple);
}

.business-wrapper {
  flex-basis: 60%;
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.business-headers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.business-header {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -5%;
  color: var(--white);
  padding: 24px 40px;
}

.business-header:nth-child(2) {
  border-bottom: 1px solid white;
  font-weight: 700;
}

.business-body {
  padding: 32px;
  font-family: 'DM Sans', sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--white);
}

.business-image {
  flex-basis: 40%;
}

/* HOW IT WORKS SECTION */

.how {
  height: 480px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url('../static/backgrounds/group210.jpg');
  background-size: cover;
  box-shadow: var(--normal-shadow);
}

.how-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.how-wrapper .h5 {
  font-style: normal;
  padding: 16px 0;
  color: var(--charcoal-gray);
}

.how-btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 16px 0;
  width: 200px;
  height: 48px;
  border-radius: 10px;
  background-color: var(--white);
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  color: var(--primary-purple);
  border: 1px solid var(--primary-purple);
  box-shadow: var(--normal-shadow);
  text-decoration: none;
}

.how-btn:hover {
  background-color: var(--primary-purple); /* Green */
  color: var(--white);
  box-shadow: var(--hover-shadow);
  transition: all 0.3s ease-in-out;
}

/* section 4 */

.meet {
  height: 800px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url('../static/backgrounds/group211.jpg');
  background-size: cover;
}

.meet-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.meet-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.meet-container .h2 { padding: 40px 0; }

.meet-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}

.meet-card {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card {
  width: 240px;
  height: 240px;
}

.position {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--primary-blue);
  padding: 16px;
}

.name {
  font-family: "DM Sans", sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--black);
  padding: 0px;
}

.description {
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--gray);
  padding: 10px;
  text-align: center;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 8px;
    padding-top: 8px;
}
